body{
  background-color:white;
  background: url("pattern_243_1617568419231.png") repeat;
}

em{
  color: green;
}
p{
  text-align: right;
  color: white;
}
h2,h1,p {
  font-family: 'Roboto', sans-serif;stylesheet"
  text-align: right;
  font: serif;
  color: red;
  
}
strong{
  font-family: 'Caveat', cursive;
}
em{
  padding: 15px;
  border-style: double;
}